# Package manager / dependencies
node_modules/
.pnp/
.pnp.js
.pnpm-store/

# Nx and build output
.nx/
dist/
out/
out-tsc/
tmp/
coverage/

# Framework output
.next/
.storybook-out/

# Generated or lock files
pnpm-lock.yaml
package-lock.json
yarn.lock

# Misc generated artifacts
*.log
test-output/
docs/**

/.nx/cache
/.nx/workspace-data
__mocks__/
# Infrastructure
deploy/helm/**/*.yaml
